$background: #464444;
$content: #262626;
$text: white;
$border-color:black;
$border:2px solid $border-color;
$menu-border: $border;
$menu-background: $background;
$menu-highlight:#565555;
$header-background:$content;
$header-text:#ffffff;
$border-radius:5px;
$scroll-thumb:#bbbbbb;
$scroll-track:$content;
$codemirror-gutter: $content;
$tab-active:$header-background;