/*css for the footer*/
@import 'mixins/mixins';
#foot {
  position: fixed;
  bottom: 0;
  @include size(100%,2em);
  background-color: $content;
  z-index:100;
}
#foot-expand {
  position: relative;
  color: $text;
  bottom: 0.5em;
  left: 1em;
  cursor: pointer;
  width:7em;
}
#foot a,
#foot span {
  color:$text;
}
#foot-links {
  padding-left:1em;
}