#nav {
  height:1.5em;
  width:100%;
  overflow:hidden;
  background-color:$header-background;
}
.nav-titles-title {
  margin:0;
  color:$header-text;
}
#nav > div {
  display:inline-block;
  margin-top:0.1em;
  margin-left:0.5em;
  color:$header-text;
}
.dropdown-content {
  display:none;
  position:absolute;
  z-index:10;
  background-color:$menu-background;
  border:$menu-border;
}
.dropdown:hover > .dropdown-content {
  display:block;
}
.dropdown-content > * {
  display:block;
  padding:0.5em;
  text-decoration:none;
  cursor:pointer;
}

.dropdown-content > :hover {
  background-color:$menu-highlight;
}
.dropdown > span {
  color:$header-text;
}
input[type=file] { /*http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}