/*css for the header*/
@import 'mixins/mixins';
#nav {
  background-color:$content;
  @include size(100%,3em);
  position:absolute;
}
#nav-links{
  color:$text;
  position:absolute;
  top:1em;
  left:1em;
  display:inline;
}
#nav-links > a {
  cursor:pointer;
}
#nav-menus {
  position:absolute;
}
.nav-menu {
  background-color:$menu-background;
  margin:0;
  position:relative;
  @include prefix((border-radius: 1em), webkit moz);
  width:8em;
  border:0.4em solid $menu-border;
  opacity:0;
  visibility:hidden;
  z-index:100;
}
#nav-menu-settings {
  left:12.3em;
  top:2.25em;
}
#nav-menu-about {
  left:8.7em;
  top:-1.3em;
}
.nav-menu > p {
  list-style-type: none;
  padding:0.1em 0.2em 0.1em 0.2em;
  margin:0;
  cursor:pointer;
  color:$text;
}
.nav-menu > p:hover {
  background-color:$menu-border;
}