#nav {
  height:1.5em;
  width:100%;
  overflow:hidden;
  background-color:$header-background;
}
.nav-titles-title {
  margin:0;
  color:$header-text;
}
#nav > div {
  display:inline-block;
  margin-top:0.1em;
  margin-left:0.5em;
  color:$header-text;
}
.dropdown-content {
  display:none;
  position:absolute;
  z-index:10;
  background-color:$menu-background;
  border:$menu-border;
}
.dropdown:hover > .dropdown-content {
  display:block;
}
.dropdown-content > * {
  display:block;
  padding:0.5em;
  text-decoration:none;
}

.dropdown-content > :hover {
  background-color:$menu-highlight;
}
.dropdown > span {
  color:$header-text;
}