$background: #ececec;
$content: #ffffff;
$text: black;
$header-background:#999999;
$header-text:#ffffff;
$border:1px solid $header-background;
$menu-border: $border;
$menu-background: $content;
$menu-highlight:#eeeeee;
$border-radius:0;
$scroll-thumb:#7b7b7b;
$scroll-track:#ffffff;
$codemirror-gutter: #f7f7f7;