* {
  box-sizing:border-box;
  color:$text;
}
html,
body {
  margin:0;
  @include prefix((user-select: none),moz webkit ms);
  cursor:default;
  font-family:'Roboto', sans-serif;
  background-color:$background;
  overflow:hidden;
}
#content {
  width:100%;
  position:absolute;
  top:1.5em;
  padding:1em 0 0 0;
  background-color:$background;
  text-align:center;
  height:calc(100% - 1.5em);
  z-index:-1;
}
#content-console {
  border:$border;
  height:calc(100% - 1em);
  width:49%;
  display:inline-block;
  @include prefix((border-radius: $border-radius), webkit moz);
  text-align:start;
  background-color:$content;
  position:relative;
}
#content-codemirror {
  border:$border;
  height:calc(100% - 1em);
  width:49%;
  display:inline-block;
  @include prefix((border-radius: $border-radius), webkit moz);
  background-color:$content;
  text-align:start;
}
#content-console-input {
  border-top: $border;
  background-color: $background;
  height: 2em;
  width: 100%;
  position: absolute;
  bottom: 0;
  @include prefix((border-radius: 0 0 $border-radius $border-radius),webkit moz);
}
#content-console-input-form-text {
  padding: 0;
  outline: 0;
  @include size(100%);
  background-color: $background;
  border: 0;
  color: $text;
  padding-left: 1em;
}
#content-console-input-form {
  height:100%;
}
#content-console-input-form-submit {
  display:none;
}
#content-console-output-main {
  background-color: $content;
  height: calc(100% - 6em);
  width: 100%;
  position: absolute;
  top:0;
  @include prefix((border-radius: 0 0 $border-radius $border-radius), webkit moz);
  overflow-y:scroll;
  word-wrap:break-word;
}
#content-console-output-main > p.info {
  padding-left:1em;
  color:$info;
}
#content-console-output-main > p.info:before {
  content:"\25BA";
  padding-right:0.5em;
  color:$info;
}
#content-console-output-main > p.error {
  padding-left:1em;
  color:$error;
}
#content-console-output-main > p.error:before {
  content:"\25BA";
  padding-right:0.5em;
  color:$error;
}
#content-console-output-main > p.warning {
  padding-left:1em;
  color:$warning;
}
#content-console-output-main> p.warning:before {
  content:"\25BA";
  padding-right:0.5em;
  color:$warning;
}
#content-console-output-main > p.text {
  padding-left:1em;
  color:$text;
}
#content-codemirror {
  position:relative;
}
#content-codemirror-container {
  position:absolute;
  @include size(100%,calc(100% - 4em));
  top:2em;
  z-index:0;
}
.CodeMirror {
  height:100%;
}
#content-codemirror-actions {
  @include size(100%,2em);
  position:absolute;
  bottom:0;
  border-top:$border;
  background-color:$background;
}
.button {
  height:2em;
  background-color:$content;
  border-right:$border;
  border-bottom:$border;
  font-family:'Roboto', sans-serif;
  color:$text;
  cursor:pointer;
  display:inline-block;
  padding-left:0.2em;
  padding-right:0.2em;
  line-height:2em;
  font-size:initial;
}
.button:hover {
  background-color:$menu-highlight;
}
.button:active {
  font-weight:bold;
}
#content-codemirror-tabs {
  @include size(100%,2em);
  position:absolute;
  top:0;
  border-bottom:$border;
  background-color:$background;
  padding-left: 0.2em;
  white-space:nowrap;
}
.tab > p {
  margin: 0;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.tab {
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
  border:$border;
  margin:0.2em 0.2em 0 0;
  height:1.8em;
  cursor:pointer;
}
.tab:hover {
  background-color:$menu-background;
}
.tab[data-open]{
  background-color:$tab-active;
  cursor:default;
}
.window,
.window-aspect {
  @include size(30%);
  top:1em;
  left:1em;
  background-color:$content;
  position:absolute;
  overflow:auto;
  pointer-events:all;
  @include prefix((border-radius: $border-radius), webkit moz);
  border: $border;
  text-align:left;
}
.window-header {
  width: 100%;
  height: 1.2em;
  background-color: $content;
}
.window-header-close {
  float: right;
  width: 2em;
  height: 1.2em;
  background-color: $content;
  border-left: $border;
  border-bottom: $border;
  text-align: center;
}
 .window-header-close-text{
  margin: 0;
  top: 0;
  position: absolute;
  width: 1.9em;
  line-height: 0.95em;
  cursor:pointer;
  color:$text;
}
.window-header-title {
  margin:0;
  color:$text;
  width:calc(100% - 2em);
  border-bottom: $border;
  height:1.2em;
  line-height:1.2em;
  text-align:center;
  max-width:calc(100% - 2em);
  cursor:move;
}
.window-content {
  height:calc(100% - 1.2em);
  width:100%;
  position:absolute;
  padding-left:0.1em;
}
.window-corner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent $border-color transparent;
  position:absolute;
  bottom:0;
  right:0;
  cursor:nwse-resize;
}
#file-browser {
  width:80%;
  position:absolute;
  height:80%;
  top:10%;
  left:10%;
  z-index:100;
  background-color:$background;
  border:$border;
}
#treeview {
  width:50%;
  height:calc(100% - 6em);
  position:absolute;
  top:4em;
  border-right:$border;
  float:left;
  overflow-y:scroll;
  input[type=checkbox] {
    display:none;
  }
  input[type=checkbox] + label:before {
    content:'\25ba  ';
	cursor:pointer;
  }
  input[type=checkbox]:checked + label:before {
    content:'\25bc  ';
	cursor:pointer;
  }
  input[type=checkbox]:not(:checked) ~ ul {
    display:none;
  }
  li {
    list-style-type:none;
	cursor:pointer;
  }
  li:not([data-type]):before {
    content:'\1f4c2';
	padding-right:0.5em;
	cursor:default;
  }
  li[data-type]:before {
    content:'\1f5ce';
	padding-right:0.5em;
	cursor:default;
  }
  li[data-type=empty] {
    color:$error;
  }
  li[data-type=empty]:before {
    content:'\1F6AB';
	padding-right:0.5em;
	cursor:default;
  }
  label {
    cursor:pointer;
  }
}
#treeview::-webkit-scrollbar-track {
  background: $background;
}
#path {
  width:50%;
  position:absolute;
  top:2em;
  height:2em;
  border:$border;
  border-left:0;
  border-top:0;
}
#path p {
  margin:0;
  height:2em;
  line-height:2em;
  padding-left:1em;
}
#controls {
  width:50%;
  position:absolute;
  bottom:0em;
  height:2em;
  border:$border;
  border-left:0;
  border-bottom:0;
}
#controls-folders,
#controls-files {
  height:100%;
  font-size:0;
}
#preview {
  width:50%;
  height:calc(100% - 2em);
  position:absolute;
  right:0;
}
#file-browser-header {
  width:100%;
  height:2em;
  border-bottom:$border;
}
#file-browser-header > p {
  margin:0;
  margin-left:1em;
  height:2em;
  display:inline-block;
  line-height:2em;
}
#fileclose {
  position:absolute;
  right:0;
  display:inline-block;
  border-left:$border;
}
#fileclose > p {
  height:2em;
  line-height:2em;
  margin:0;
  padding:0 0.5em 0 0.5em;
  cursor:pointer;
  background-color:$content;
  border-bottom:$border;
}
#fileclose > p:hover {
  background-color:$menu-highlight;
}
#filecreate > div,
#foldercreate > div {
  display:inline-block;
}
#foldername,
#filename {
  display:inline-block;
  height:100%;
  padding:0;
  margin:0;
  border:0;
  border-right:$border;
  outline:0;
  position:absolute;
  line-height:2em;
  padding:0.2em;
  color:$text;
  background-color:$content;
}
#history {
  height:4em;
  width:100%;
  position:absolute;
  bottom:2em;
  border-top:$border;
  overflow-y:scroll;
  padding:0.5em;
}
.history-item {
  word-wrap:break-word;
  margin:0;
  cursor:pointer;
}
.history-close {
  color:$error;
}
.history-close:after {
  content:' ';
  cursor:default;
}
@media only screen and (max-width:600px) {
  #content-console,
  #content-codemirror  {
    @include size(95%);
  }
  #content {
    overflow-y:scroll;
  }
  #foot {
    display:none;
  }
  #nav-menu-settings-hide {
    display:none;
  }
}