* {
  box-sizing:border-box;
  color:$text;
}
html,
body {
  margin:0;
  @include prefix((user-select: none),moz webkit ms);
  cursor:default;
  font-family:'Roboto', sans-serif;
  background-color:$background;
  overflow:hidden;
}
#content {
  width:100%;
  position:absolute;
  top:1.5em;
  padding:1em 0 0 0;
  background-color:$background;
  text-align:center;
  height:calc(100% - 1.5em);
  z-index:-1;
}
#overlay {
  z-index:10000;
  position:fixed;
  @include size(100%);
  background-color:$background;
  top:0em;
  opacity:0;
  visibility:hidden;
}
#overlay-title,
#overlay-text {
  text-align:center;
  color:$text;
}

#content-console {
  border:$border;
  height:calc(100% - 1em);
  width:49%;
  display:inline-block;
  @include prefix((border-radius: $border-radius), webkit moz);
  text-align:start;
  background-color:$content;
  position:relative;
}
#content-codemirror {
  border:$border;
  height:calc(100% - 1em);
  width:49%;
  display:inline-block;
  @include prefix((border-radius: $border-radius), webkit moz);
  background-color:$content;
  text-align:start;
}
#content-console-input {
  border-top: $border;
  background-color: $background;
  height: 2em;
  width: 100%;
  position: absolute;
  bottom: 0;
  @include prefix((border-radius: 0 0 $border-radius $border-radius),webkit moz);
}
#content-console-input-form-text {
  padding: 0;
  outline: 0;
  @include size(100%);
  background-color: $background;
  border: 0;
  color: $text;
  padding-left: 1em;
}
#content-console-input-form {
  height:100%;
}
#content-console-input-form-submit {
  display:none;
}
#content-console-output-main {
  background-color: $content;
  height: calc(100% - 2.2em);
  width: 100%;
  position: absolute;
  top:0;
  @include prefix((border-radius: 0 0 $border-radius $border-radius), webkit moz);
  overflow-y:scroll;
  word-wrap:break-word;
}
#content-console-output-main > p.info {
  padding-left:1em;
  color:#A4C7ED;
}
#content-console-output-main > p.info:before {
  content:"\25BA";
  padding-right:0.5em;
  color:#A4C7ED;
}
#content-console-output-main > p.error {
  padding-left:1em;
  color:#FA5555;
}
#content-console-output-main > p.error:before {
  content:"\25BA";
  padding-right:0.5em;
  color:#FA5555;
}
#content-console-output-main > p.warning {
  padding-left:1em;
  color:#DCE362;
}
#content-console-output-main> p.warning:before {
  content:"\25BA";
  padding-right:0.5em;
  color:#DCE362;
}
#content-console-output-main > p.text {
  padding-left:1em;
  color:$text;
}
#content-codemirror {
  position:relative;
}
#content-codemirror-container {
  position:absolute;
  @include size(100%,calc(100% - 4em));
  top:2em;
  z-index:0;
}
.CodeMirror {
  height:100%;
}
#content-codemirror-actions {
  @include size(100%,2em);
  position:absolute;
  bottom:0;
  border-top:$border;
  background-color:$background;
}
#content-codemirror-tabs {
  @include size(100%,2em);
  position:absolute;
  top:0;
  border-bottom:$border;
  background-color:$background;
  padding-left: 0.2em;
  white-space:nowrap;
  overflow-x:scroll;
  overflow-y:hidden;
}
#content-codemirror-tabs::-webkit-scrollbar-track {
  background: $background;
}
.tab > p {
  margin: 0;
}
.tab {
  display: inline-block;
  padding: 0 0.5em 0 0.5em;
  border:$border;
  margin:0.15em 0.2em 0 0;
  height:calc(1.8em - 8px);
  cursor:pointer;
}
.tab:hover {
  background-color:$menu-background;
}
.window,
.window-aspect {
  @include size(30%);
  top:1em;
  left:1em;
  background-color:$content;
  position:absolute;
  overflow:auto;
  pointer-events:all;
  @include prefix((border-radius: $border-radius), webkit moz);
  border: $border;
  text-align:left;
}
.window-header {
  width: 100%;
  height: 1.2em;
  background-color: $content;
}
.window-header-close {
  float: right;
  width: 2em;
  height: 1.2em;
  background-color: $content;
  border-left: $border;
  border-bottom: $border;
  text-align: center;
}
 .window-header-close-text{
  margin: 0;
  top: 0;
  position: absolute;
  width: 1.9em;
  line-height: 0.95em;
  cursor:pointer;
  color:$text;
}
.window-header-title {
  margin:0;
  color:$text;
  width:calc(100% - 2em);
  border-bottom: $border;
  height:1.2em;
  line-height:1.2em;
  text-align:center;
  max-width:calc(100% - 2em);
  cursor:move;
}
.window-content {
  height:calc(100% - 1.2em);
  width:100%;
  position:absolute;
  padding-left:0.1em;
}
.window-corner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent $border-color transparent;
  position:absolute;
  bottom:0;
  right:0;
  cursor:nwse-resize;
}
@media only screen and (max-width:600px) {
  #content-console,
  #content-codemirror  {
    @include size(95%);
  }
  #content {
    overflow-y:scroll;
  }
  #foot {
    display:none;
  }
  #nav-menu-settings-hide {
    display:none;
  }
}